@import "globals.css";

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

header {
  svg {
    vertical-align: bottom;
    padding-top: 4px;
  }

  nav {
    font-size: initial;
  }
}
