@import "globals.css";

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

header {
  svg {
    vertical-align: bottom;
    padding-top: 4px;
  }

  nav {
    font-size: initial;
  }
}

.message-user::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  border-top: 8px solid hsl(var(--muted-foreground) / 0.3);
  border-right: 12px solid transparent;
}

.message-contact::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  border-top: 8px solid hsl(var(--muted-foreground) / 0.3);
  border-left: 12px solid transparent;
}

.swiper {
  /* width: 100%; */
  /* max-width: 100%; */
}

.swiper-slide {
  /* width: 100%; */
}

.swiper-container {
  /* width: 100%; */
}
