{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "printWidth": 100,
  "plugins": ["prettier-plugin-sql", "prettier-plugin-embed"],
  "embeddedSqlTags": ["sql"],
  "overrides": [
    {
      "files": "*.sql",
      "options": {
        "language": "postgresql",
        "keywordCase": "upper"
      }
    }
  ]
}
